.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hello-world-background,
.pp-section.ng-scope:hover {
  background-color: red;
  color: white;
}

.media {
  height: 100%;
  color: white;
  align-self: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* .qs-toolbar {
  display: none;
} */

.qs-toolbar,
.lui-tab.lui-active,
.lui-tab.lui-focused,
.lui-tab:focus {
  background: blueviolet;
}

.qs-toolbar span {
  color: white !important;
}

.qs-toolbar .lui-tabset .lui-tab .icon-tab .icon-container:hover,
.qs-toolbar .lui-tabset .lui-tab .icon-tab .tab-dropdown-icon:hover {
  background-color: violet;
}

.qv-mode-edit .extra-button {
  display: none;
}

/* .qv-mode-edit .scape { */
/* width: calc(50% - 4px) !important;
  height: calc(50% - 4px) !important;
  left: calc(-1000% + 2px) !important;
  top: calc(-1000% + 2px) !important; */
/* } */


.navbar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background: rgb(248, 248, 248);
  z-index: 550;
}