/* .cubricks-navbar * {
  all: initial;
} */

.cubricks-navbar .qs-toolbar,
.cubricks-navbar .qs-toolbar span,
.cubricks-navbar .lui-tab.lui-active,
.cubricks-navbar .lui-tab.lui-focused,
.cubricks-navbar .lui-tab:focus,
.cubricks-navbar .qs-toolbar .lui-tabset .lui-tab .icon-tab .icon-container:hover,
.cubricks-navbar .qs-toolbar .lui-tabset .lui-tab .icon-tab .tab-dropdown-icon:hover {
  background-color: blueviolet;
  color: white;
  border: none;
}

.cubricks-navbar .lui-button.lui-buttongroup__button.lui-button--success * {
  background-color: #009845;
}

.cubricks-navbar .lui-icon.lui-icon--tick.lui-button__icon:hover {
  box-shadow: inset 0 -2px rgba(0, 0, 0, .1), inset 0 0 0 250px hsla(0, 0%, 100%, .2);
  transition: box-shadow .2s ease-out;
}

.cubricks {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hello-world-background,
.pp-section.ng-scope:hover {
  background-color: red;
  color: white;
}

.media {
  height: 100%;
  color: white;
  align-self: center;
  background-repeat: no-repeat;
  background-size: contain;
}